.tweet{
  background-color: aqua;
  border: 2px solid cornflowerblue;
  padding: 8px;
  width: fit-content;
  min-width: 320px;
  border-radius: 10px;
}

.tweet h3, p{
  margin: 0;
  margin-bottom: 8px;
}

.tweet-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tweet .delete{
 float: right;
}